*, *::after, *::before {
    box-sizing: border-box;
}
body, html {
    margin: 0;
    letter-spacing: 0.1rem;
    font-family: "Eternal Logo";
}
#score-board {
    position: fixed;
    width: 45%;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: white;
    display: grid;
    grid-gap: 20px;
    grid-template: 40px 40px / 40px auto auto;
    padding: 10px; */
}
#score-board svg {
    filter: drop-shadow( 0px 2px 6px rgba(0, 0, 0, 0.3));
}
#score-board .logo {
    width: 40px;
    height: 40px;
    background-size: 40px;
    background-position: center ;
}
#score-board .name, #score-board .score {
    font-weight: bold;
    font-size: 25px;
    line-height: 40px;
}
#score-board .score {
    border: 2px solid black;
    width: 40px;
    height: 40px;
    text-align: center;
}
#active-player-info {
    position: fixed;
    bottom: 60px;
    left: 60px;
    min-width: 350px;
}
#active-player-info .name {
    font-size: 25px;
    text-align: center;
    color: white;
    line-height: 75px;
    filter: brightness(90%);
    position: relative;
}
#active-player-info .name::before {
}
#active-player-info .stats {
    display: flex;
}
#active-player-info .stat {
    /* border: 1px solid red; */
    width: 90px;
    padding: 5px;
    padding-top: 15px;
    text-transform: uppercase;
    overflow: hidden;
}
#active-player-info .stats .title {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #eee;
}
#active-player-info .stats .value {
    color: white;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    font-weight: bolder;
}
#active-player-info .goals { 

}
#active-player-info .shots {

}
#active-player-info .assits {

}
#active-player-info .saves {

}
#active-player-info .bar {
    background-color: #555;
}
#active-player-info .boost .bar {
    width: 0;
    color: white;
    text-align: center;
    overflow: hidden;
    transition: width .2s ease-out;
}
#active-player-info .boost .color {
    background: linear-gradient(90deg, #1f005c, #5b0060, #870160, #ac255e, #ca485c, #e16b5c, #f39060, #ffb56b);
    width: 450px;
    height: 10px;
}
#replay_overlay video {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
}
#replay-label {
    position: fixed;
    right: 35px;
    bottom: 30px;
    font-size: 50px;
    color: red;
    animation: fade 1.5s infinite;
}
#orange-team-stats,
#blue-team-stats {
    width: 300px;
    font-size: 0.8rem;
    position: fixed;
}
#blue-team-stats {
    left: 20px;
    top: 50%;
}
#orange-team-stats {
    top: 50%;
    right: 20px;
}
.player .stats {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #250536;
    transition: all .2s ease-out;
}
.player .stats.hide {
    padding: 0;
    height: 0;
    overflow: hidden;
}
.player img {
    width: 35px;
}
.player .ontarget img { 
    /* hack */
    width: 30px;
    margin-top: 2.5px;
}
.player {
    background-image: linear-gradient(90deg, #5d005a, #400a5e);
    color: white;
    margin-bottom: 10px;
}
.player .name {
    padding: 10px 15px;
}
.player .boost {
    background-color: #36084e;
}
.player .bar {
    height: 20px;
    background-color: red;
    transition: width .2s ease;
}
@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.0; }
    to { opacity: 1.0; }
} 

